@model IEnumerable<Groceries.Web.Models.Grocery>
@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div>
        <h2>Groceries list</h2>
        <table>
            @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Name }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Name })  |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Name }) 
                 </td>
            </tr>
            }

        </table>
    </div>
</div>
